* {
    --teal: #66BFBF;
    --light-teal: #EAF6F6;
    --red: #FF0063;
    --gray-teal: #D8E2E2;
    font-family: 'Anek Telugu',
        sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
nav {
    background-color: var(--teal);
}

.header-icon {
    width: auto;
    margin-right: 10px;
}

/* MAIN */
main {
    width: 60vw;
    margin: 0 auto;
}

/* FILTER FIELD */
.card-filter .card-body {
    padding: 0;
}



/* UNIVERSAL BOOKS ITEM */
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.accordion-body .card {
    width: 100%;
    margin: .5rem;
}

.accordion-body .card:hover {
    background-color: var(--light-teal);
}



.accordion-body .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion-body .card-body button {
    border-radius: 50%;
}

.book-item {
    width: 100%;
}



.bi:hover {
    opacity: .8;
}

.check {
    color: var(--teal);
    margin-right: 1rem;
    font-size: 1.5rem;
}


.trash {
    color: var(--red);
    font-size: 1.5rem;
}

.card h1 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.card h2 {
    font-size: .8rem;
    margin: 0;
    font-weight: 600;
}

.card p {
    font-size: .8rem;
    margin: 0;
}

/* Responsive Size */

@media screen and (max-width: 768px) {
    main {
        width: 90vw;
    }
}